*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body, h2, p, h1 {
  margin: 0;
}

body {
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-style: normal;
}

/* Variables de colores y Temas*/
:root {
	color-scheme: light dark;
	--bg-color: light-dark(white, black);
  --bg-light-color: light-dark(#c6d4f3, #1a1a1b);
	--primary-color: light-dark(#3A59D1, #60B5FF);
	--primary-color-dark: light-dark(#283f9b, #2b75b6);
	--primary-hover-color: light-dark(#163bce, #1c79ca);
  --primary-box-color: light-dark(#163bce, #092c4b);
  --text-color: light-dark(black, white);
  --input-border-color: light-dark(#5f6d86, #474d58);
  --input-color: light-dark(#8191ad ,#31363F);
};
