body {
	background-color: var(--bg-color);
	justify-items: center;
	overflow: hidden;
	margin: 1rem;
} 

#main {
	width: 50%;
}

#main-title {
	font-size: 3rem;
	font-weight: 800;
	color: var(--primary-color);
	margin: 1rem auto;
	text-align: center;
    transition: all 1s ease-in-out;
}

/* Formulario */
#form {
	background-color: var(--primary-color);
	border-radius: 0.375rem;
	border: 0.8rem solid var(--primary-color);
}

.form-input-container {
	margin: 0.3rem auto;
	color: var(--text-color);
	background-color: var(--primary-color);
}

#form-input-contact {
	font-size: 1rem;
	font-weight: 700;
	margin-right: 0.5rem;
}

#form-input-number {
    font-size: 1rem;
	font-weight: 700;
	margin-right: 0.5rem;
}

#form-input-placeholder {
    background-color: var(--placeholder-color);
    border-radius: 0.375rem;
    padding: 0.3rem;
    width: 90%;
}

::placeholder {
	font-weight: 250;
    color: var(--text-placeholder);
}

#form-error-text {
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--error-color-text);
}

#form-btn {
	background-color: var(--btn-color);
	color: var(--text-color);
	border-radius: 0.375rem;
	padding: 0.5rem;
	display: inline-flex;
	justify-content: space-around;
    transition: all 0.5s ease-in-out;
}

#form-btn:hover {
	background-color: var(--btn-color-dark);
	color: var(--text-color);  
}

#form-btn-text {
	margin: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

#form-btn-svg {
	margin: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
}

/* Lista de contactos */
#contact-list {
    background-color: var(--contact-list-color);
	list-style: none;
	width: 100%;
	height: 40vh;
	overflow-y: auto;
	margin-top: 1rem;
	border-radius: 0.375rem;
}

.contact-item {
    align-items: center;
    display: flex;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 0.375rem;
    margin: 0.5rem;
}

.contact-text {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.375rem;   
}

.contact-number {
    padding: 0.5rem;
    border-radius: 0.375rem;
}

.edit-contact-btn {
	margin: 0.5rem;
	height: 2rem;
	width: 2rem;
	background-color: var(--btn-color);
	border: 1px solid var(--btn-color);
	color: var(--text-color);
	border-radius: 0.375rem;
	padding: 0.5rem;
	transition: all 0.5s ease-in-out;
}

.edit-contact-btn:hover {
    background-color: var(--btn-color-dark);
	border: 1px solid var(--btn-color-dark);
	color: var(--text-color);
}

.delete-contact-btn {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    background-color: var(--error-color-text);
	color: var(--text-color);
	border-radius: 0.375rem;
	padding: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.delete-contact-btn:hover {
    background-color: var(--error-color-text-dark);
}

/*  Scroll */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 5px; 
}

/* Adaptacion para Laptop/pc */
@media (min-width: 768px) {
    #main {
        width: 60%;
	}
}
